
givaro-4.2.0.tar.gz
givaro-4.2.0/aclocal.m4
givaro-4.2.0/AUTHORS
givaro-4.2.0/benchmarks/benchmark-recint_exp.C
givaro-4.2.0/benchmarks/benchmark-recint_inv_arazi.C
givaro-4.2.0/benchmarks/benchmark-recint_inv_naive.C
givaro-4.2.0/benchmarks/benchmark-recint_mul.C
givaro-4.2.0/benchmarks/Makefile.am
givaro-4.2.0/benchmarks/Makefile.in
givaro-4.2.0/build-aux/ar-lib
givaro-4.2.0/build-aux/compile
givaro-4.2.0/build-aux/config.guess
givaro-4.2.0/build-aux/config.sub
givaro-4.2.0/build-aux/depcomp
givaro-4.2.0/build-aux/install-sh
givaro-4.2.0/build-aux/ltmain.sh
givaro-4.2.0/build-aux/missing
givaro-4.2.0/build-aux/test-driver
givaro-4.2.0/ChangeLog
givaro-4.2.0/config.h.in
givaro-4.2.0/configure
givaro-4.2.0/configure.ac
givaro-4.2.0/COPYING
givaro-4.2.0/COPYRIGHT
givaro-4.2.0/docs/Doxyfile.mod
givaro-4.2.0/docs/DoxyfileDev.mod
givaro-4.2.0/docs/givaro.html
givaro-4.2.0/docs/mainpage.doxy
givaro-4.2.0/docs/Makefile.am
givaro-4.2.0/docs/Makefile.in
givaro-4.2.0/examples/FiniteField/all_field.C
givaro-4.2.0/examples/FiniteField/domain_to_operatorstyle.C
givaro-4.2.0/examples/FiniteField/exponentiation.C
givaro-4.2.0/examples/FiniteField/ff_arith.C
givaro-4.2.0/examples/FiniteField/GaloisFields.C
givaro-4.2.0/examples/FiniteField/GF128.C
givaro-4.2.0/examples/FiniteField/GFirreducible.C
givaro-4.2.0/examples/FiniteField/gfq_atomic.C
givaro-4.2.0/examples/FiniteField/Makefile.am
givaro-4.2.0/examples/FiniteField/Makefile.in
givaro-4.2.0/examples/FiniteField/Test_Extension.C
givaro-4.2.0/examples/FiniteField/zpz_atomic.C
givaro-4.2.0/examples/Integer/Fibonacci.C
givaro-4.2.0/examples/Integer/iexponentiation.C
givaro-4.2.0/examples/Integer/ifactor.C
givaro-4.2.0/examples/Integer/ifactor_lenstra.C
givaro-4.2.0/examples/Integer/igcd.C
givaro-4.2.0/examples/Integer/igcdext.C
givaro-4.2.0/examples/Integer/ilcm.C
givaro-4.2.0/examples/Integer/ispower.C
givaro-4.2.0/examples/Integer/isprime.C
givaro-4.2.0/examples/Integer/isproot.C
givaro-4.2.0/examples/Integer/lambda.C
givaro-4.2.0/examples/Integer/lambda_inv.C
givaro-4.2.0/examples/Integer/Makefile.am
givaro-4.2.0/examples/Integer/Makefile.in
givaro-4.2.0/examples/Integer/ModularSquareRoot.C
givaro-4.2.0/examples/Integer/nb_primes.C
givaro-4.2.0/examples/Integer/nextprime.C
givaro-4.2.0/examples/Integer/order.C
givaro-4.2.0/examples/Integer/phi.C
givaro-4.2.0/examples/Integer/prevprime.C
givaro-4.2.0/examples/Integer/primitiveelement.C
givaro-4.2.0/examples/Integer/primitiveroot.C
givaro-4.2.0/examples/Integer/probable_primroot.C
givaro-4.2.0/examples/Integer/ProbLucas.C
givaro-4.2.0/examples/Integer/RSA_breaking.C
givaro-4.2.0/examples/Integer/RSA_decipher.C
givaro-4.2.0/examples/Integer/RSA_encipher.C
givaro-4.2.0/examples/Integer/RSA_keys_generator.C
givaro-4.2.0/examples/Makefile.am
givaro-4.2.0/examples/Makefile.in
givaro-4.2.0/examples/Matrix/f4n3.cpp
givaro-4.2.0/examples/Matrix/Makefile.am
givaro-4.2.0/examples/Matrix/Makefile.in
givaro-4.2.0/examples/Polynomial/AES_SubBytes.C
givaro-4.2.0/examples/Polynomial/bivariate.C
givaro-4.2.0/examples/Polynomial/highorder.C
givaro-4.2.0/examples/Polynomial/interpolate.C
givaro-4.2.0/examples/Polynomial/isgenerator.C
givaro-4.2.0/examples/Polynomial/isirred.C
givaro-4.2.0/examples/Polynomial/isprimitive.C
givaro-4.2.0/examples/Polynomial/Makefile.am
givaro-4.2.0/examples/Polynomial/Makefile.in
givaro-4.2.0/examples/Polynomial/pol_arith.C
givaro-4.2.0/examples/Polynomial/pol_eval.C
givaro-4.2.0/examples/Polynomial/pol_factor.C
givaro-4.2.0/examples/Polynomial/PolynomialCRT.C
givaro-4.2.0/examples/Polynomial/trunc_arith.C
givaro-4.2.0/examples/Rational/iratrecon.C
givaro-4.2.0/examples/Rational/Makefile.am
givaro-4.2.0/examples/Rational/Makefile.in
givaro-4.2.0/examples/Rational/polydouble.C
givaro-4.2.0/examples/RecInt/extended-int-types.C
givaro-4.2.0/examples/RecInt/Makefile.am
givaro-4.2.0/examples/RecInt/Makefile.in
givaro-4.2.0/examples/RecInt/recint-iterator.C
givaro-4.2.0/examples/RecInt/rsa.C
givaro-4.2.0/givaro-config.h
givaro-4.2.0/givaro-config.in
givaro-4.2.0/givaro-makefile.in
givaro-4.2.0/givaro.doxy
givaro-4.2.0/givaro.pc.in
givaro-4.2.0/INSTALL
givaro-4.2.0/Licence_CeCILL-B_V1-en.txt
givaro-4.2.0/Licence_CeCILL-B_V1-fr.txt
givaro-4.2.0/macros/aclocal-include.m4
givaro-4.2.0/macros/ax_cxx_compile_stdcxx_11.m4
givaro-4.2.0/macros/common.m4
givaro-4.2.0/macros/config-header.m4
givaro-4.2.0/macros/debug.m4
givaro-4.2.0/macros/givaro-doc.m4
givaro-4.2.0/macros/gmp-check.m4
givaro-4.2.0/macros/libtool.m4
givaro-4.2.0/macros/ltoptions.m4
givaro-4.2.0/macros/ltsugar.m4
givaro-4.2.0/macros/ltversion.m4
givaro-4.2.0/macros/lt~obsolete.m4
givaro-4.2.0/macros/Makefile.am
givaro-4.2.0/macros/Makefile.in
givaro-4.2.0/Makefile.am
givaro-4.2.0/Makefile.in
givaro-4.2.0/README.md
givaro-4.2.0/src/dummy.C
givaro-4.2.0/src/kernel/bstruct/bstruct.doxy
givaro-4.2.0/src/kernel/bstruct/givarray0.h
givaro-4.2.0/src/kernel/bstruct/givarray0.inl
givaro-4.2.0/src/kernel/bstruct/givarrayallocator.h
givaro-4.2.0/src/kernel/bstruct/givarrayfixed.h
givaro-4.2.0/src/kernel/bstruct/givbits.C
givaro-4.2.0/src/kernel/bstruct/givbits.h
givaro-4.2.0/src/kernel/bstruct/givbits.inl
givaro-4.2.0/src/kernel/bstruct/givelem.h
givaro-4.2.0/src/kernel/bstruct/givhashtable.h
givaro-4.2.0/src/kernel/bstruct/givhashtable.inl
givaro-4.2.0/src/kernel/bstruct/givlist0.h
givaro-4.2.0/src/kernel/bstruct/givlist0.inl
givaro-4.2.0/src/kernel/bstruct/givstack.h
givaro-4.2.0/src/kernel/bstruct/givstack.inl
givaro-4.2.0/src/kernel/bstruct/Makefile.am
givaro-4.2.0/src/kernel/bstruct/Makefile.in
givaro-4.2.0/src/kernel/field/chineseremainder.h
givaro-4.2.0/src/kernel/field/extension.h
givaro-4.2.0/src/kernel/field/field.doxy
givaro-4.2.0/src/kernel/field/gf2.h
givaro-4.2.0/src/kernel/field/gf2.inl
givaro-4.2.0/src/kernel/field/gfq.h
givaro-4.2.0/src/kernel/field/gfq.inl
givaro-4.2.0/src/kernel/field/gfqext.h
givaro-4.2.0/src/kernel/field/gfqkronecker.h
givaro-4.2.0/src/kernel/field/givprimes16.C
givaro-4.2.0/src/kernel/field/givprimes16.h
givaro-4.2.0/src/kernel/field/givrns.h
givaro-4.2.0/src/kernel/field/givrnsconvert.inl
givaro-4.2.0/src/kernel/field/givrnscstor.inl
givaro-4.2.0/src/kernel/field/givrnsfixed.h
givaro-4.2.0/src/kernel/field/givrnsfixed.inl
givaro-4.2.0/src/kernel/field/givtablelimits.C
givaro-4.2.0/src/kernel/field/givtablelimits.h
givaro-4.2.0/src/kernel/field/Makefile.am
givaro-4.2.0/src/kernel/field/Makefile.in
givaro-4.2.0/src/kernel/field/qfield.h
givaro-4.2.0/src/kernel/field/StaticElement.h
givaro-4.2.0/src/kernel/gmp++/gmp++.doxy
givaro-4.2.0/src/kernel/gmp++/gmp++.h
givaro-4.2.0/src/kernel/gmp++/gmp++_int.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int.h
givaro-4.2.0/src/kernel/gmp++/gmp++_int_add.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_compare.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_cstor.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_div.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_gcd.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_io.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_lib.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_misc.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_mod.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_mul.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_pow.C
givaro-4.2.0/src/kernel/gmp++/gmp++_int_rand.inl
givaro-4.2.0/src/kernel/gmp++/gmp++_int_sub.C
givaro-4.2.0/src/kernel/gmp++/Makefile.am
givaro-4.2.0/src/kernel/gmp++/Makefile.in
givaro-4.2.0/src/kernel/integer/givinteger.C
givaro-4.2.0/src/kernel/integer/givinteger.h
givaro-4.2.0/src/kernel/integer/givintfactor.h
givaro-4.2.0/src/kernel/integer/givintfactor.inl
givaro-4.2.0/src/kernel/integer/givintnumtheo.h
givaro-4.2.0/src/kernel/integer/givintnumtheo.inl
givaro-4.2.0/src/kernel/integer/givintprime.C
givaro-4.2.0/src/kernel/integer/givintprime.h
givaro-4.2.0/src/kernel/integer/givintprime.inl
givaro-4.2.0/src/kernel/integer/givintrns.h
givaro-4.2.0/src/kernel/integer/givintrns_convert.inl
givaro-4.2.0/src/kernel/integer/givintrns_cstor.inl
givaro-4.2.0/src/kernel/integer/givintrsa.h
givaro-4.2.0/src/kernel/integer/givintrsa.inl
givaro-4.2.0/src/kernel/integer/givintsqrootmod.h
givaro-4.2.0/src/kernel/integer/givintsqrootmod.inl
givaro-4.2.0/src/kernel/integer/givspyinteger.h
givaro-4.2.0/src/kernel/integer/integer.doxy
givaro-4.2.0/src/kernel/integer/Makefile.am
givaro-4.2.0/src/kernel/integer/Makefile.in
givaro-4.2.0/src/kernel/integer/random-integer.h
givaro-4.2.0/src/kernel/Makefile.am
givaro-4.2.0/src/kernel/Makefile.in
givaro-4.2.0/src/kernel/memory/givaromm.C
givaro-4.2.0/src/kernel/memory/givaromm.h
givaro-4.2.0/src/kernel/memory/givmemorer.h
givaro-4.2.0/src/kernel/memory/givpointer.h
givaro-4.2.0/src/kernel/memory/givref_count.h
givaro-4.2.0/src/kernel/memory/Makefile.am
givaro-4.2.0/src/kernel/memory/Makefile.in
givaro-4.2.0/src/kernel/memory/memory.doxy
givaro-4.2.0/src/kernel/rational/givrataddsub.C
givaro-4.2.0/src/kernel/rational/givratcompare.C
givaro-4.2.0/src/kernel/rational/givratcpy.C
givaro-4.2.0/src/kernel/rational/givratcstor.C
givaro-4.2.0/src/kernel/rational/givratio.C
givaro-4.2.0/src/kernel/rational/givrational.h
givaro-4.2.0/src/kernel/rational/givrational.inl
givaro-4.2.0/src/kernel/rational/givratmisc.C
givaro-4.2.0/src/kernel/rational/givratmuldiv.C
givaro-4.2.0/src/kernel/rational/givratreconstruct.C
givaro-4.2.0/src/kernel/rational/Makefile.am
givaro-4.2.0/src/kernel/rational/Makefile.in
givaro-4.2.0/src/kernel/rational/rational.doxy
givaro-4.2.0/src/kernel/recint/Makefile.am
givaro-4.2.0/src/kernel/recint/Makefile.in
givaro-4.2.0/src/kernel/recint/radd.h
givaro-4.2.0/src/kernel/recint/rcmp.h
givaro-4.2.0/src/kernel/recint/rconvert.h
givaro-4.2.0/src/kernel/recint/rdisplay.h
givaro-4.2.0/src/kernel/recint/rdiv.h
givaro-4.2.0/src/kernel/recint/recdefine.h
givaro-4.2.0/src/kernel/recint/recint.doxy
givaro-4.2.0/src/kernel/recint/recint.h
givaro-4.2.0/src/kernel/recint/reclonglong.h
givaro-4.2.0/src/kernel/recint/rfiddling.h
givaro-4.2.0/src/kernel/recint/rint.h
givaro-4.2.0/src/kernel/recint/rmadd.h
givaro-4.2.0/src/kernel/recint/rmbaddmul.h
givaro-4.2.0/src/kernel/recint/rmbexp.h
givaro-4.2.0/src/kernel/recint/rmbinv.h
givaro-4.2.0/src/kernel/recint/rmbmodule.h
givaro-4.2.0/src/kernel/recint/rmbmul.h
givaro-4.2.0/src/kernel/recint/rmbreduc.h
givaro-4.2.0/src/kernel/recint/rmbrmint.h
givaro-4.2.0/src/kernel/recint/rmcmp.h
givaro-4.2.0/src/kernel/recint/rmconvert.h
givaro-4.2.0/src/kernel/recint/rmdefine.h
givaro-4.2.0/src/kernel/recint/rmdisplay.h
givaro-4.2.0/src/kernel/recint/rmdiv.h
givaro-4.2.0/src/kernel/recint/rmextra.h
givaro-4.2.0/src/kernel/recint/rmgaddmul.h
givaro-4.2.0/src/kernel/recint/rmgexp.h
givaro-4.2.0/src/kernel/recint/rmginv.h
givaro-4.2.0/src/kernel/recint/rmgmodule.h
givaro-4.2.0/src/kernel/recint/rmgmul.h
givaro-4.2.0/src/kernel/recint/rmgreduc.h
givaro-4.2.0/src/kernel/recint/rmgrmint.h
givaro-4.2.0/src/kernel/recint/rmint.h
givaro-4.2.0/src/kernel/recint/rmintmg.h
givaro-4.2.0/src/kernel/recint/rmmanip.h
givaro-4.2.0/src/kernel/recint/rmmul.h
givaro-4.2.0/src/kernel/recint/rmneg.h
givaro-4.2.0/src/kernel/recint/rmrandom.h
givaro-4.2.0/src/kernel/recint/rmsub.h
givaro-4.2.0/src/kernel/recint/rmul.h
givaro-4.2.0/src/kernel/recint/rrandom.h
givaro-4.2.0/src/kernel/recint/rrint.h
givaro-4.2.0/src/kernel/recint/rsub.h
givaro-4.2.0/src/kernel/recint/ruadd.h
givaro-4.2.0/src/kernel/recint/ruaddmul.h
givaro-4.2.0/src/kernel/recint/rucmp.h
givaro-4.2.0/src/kernel/recint/ruconvert.h
givaro-4.2.0/src/kernel/recint/rudisplay.h
givaro-4.2.0/src/kernel/recint/rudiv.h
givaro-4.2.0/src/kernel/recint/ruexp.h
givaro-4.2.0/src/kernel/recint/rufiddling.h
givaro-4.2.0/src/kernel/recint/rugcd.h
givaro-4.2.0/src/kernel/recint/ruint.h
givaro-4.2.0/src/kernel/recint/ruinvmod.h
givaro-4.2.0/src/kernel/recint/rumanip.h
givaro-4.2.0/src/kernel/recint/rumul.h
givaro-4.2.0/src/kernel/recint/rurandom.h
givaro-4.2.0/src/kernel/recint/ruruint.h
givaro-4.2.0/src/kernel/recint/rushift.h
givaro-4.2.0/src/kernel/recint/rusub.h
givaro-4.2.0/src/kernel/recint/rutools.h
givaro-4.2.0/src/kernel/ring/Makefile.am
givaro-4.2.0/src/kernel/ring/Makefile.in
givaro-4.2.0/src/kernel/ring/modular-balanced-double.h
givaro-4.2.0/src/kernel/ring/modular-balanced-double.inl
givaro-4.2.0/src/kernel/ring/modular-balanced-float.h
givaro-4.2.0/src/kernel/ring/modular-balanced-float.inl
givaro-4.2.0/src/kernel/ring/modular-balanced-int32.h
givaro-4.2.0/src/kernel/ring/modular-balanced-int32.inl
givaro-4.2.0/src/kernel/ring/modular-balanced-int64.h
givaro-4.2.0/src/kernel/ring/modular-balanced-int64.inl
givaro-4.2.0/src/kernel/ring/modular-balanced.h
givaro-4.2.0/src/kernel/ring/modular-extended.h
givaro-4.2.0/src/kernel/ring/modular-extended.inl
givaro-4.2.0/src/kernel/ring/modular-floating.h
givaro-4.2.0/src/kernel/ring/modular-floating.inl
givaro-4.2.0/src/kernel/ring/modular-general.h
givaro-4.2.0/src/kernel/ring/modular-general.inl
givaro-4.2.0/src/kernel/ring/modular-implem.h
givaro-4.2.0/src/kernel/ring/modular-integer.h
givaro-4.2.0/src/kernel/ring/modular-integer.inl
givaro-4.2.0/src/kernel/ring/modular-integral.h
givaro-4.2.0/src/kernel/ring/modular-integral.inl
givaro-4.2.0/src/kernel/ring/modular-inttype.h
givaro-4.2.0/src/kernel/ring/modular-inttype.inl
givaro-4.2.0/src/kernel/ring/modular-log16.h
givaro-4.2.0/src/kernel/ring/modular-log16.inl
givaro-4.2.0/src/kernel/ring/modular-mulprecomp.inl
givaro-4.2.0/src/kernel/ring/modular-ruint.h
givaro-4.2.0/src/kernel/ring/modular-ruint.inl
givaro-4.2.0/src/kernel/ring/modular.h
givaro-4.2.0/src/kernel/ring/montgomery-int32.h
givaro-4.2.0/src/kernel/ring/montgomery-int32.inl
givaro-4.2.0/src/kernel/ring/montgomery-ruint.h
givaro-4.2.0/src/kernel/ring/montgomery-ruint.inl
givaro-4.2.0/src/kernel/ring/montgomery.h
givaro-4.2.0/src/kernel/ring/ring-interface.h
givaro-4.2.0/src/kernel/ring/ring.doxy
givaro-4.2.0/src/kernel/ring/unparametric-operations.h
givaro-4.2.0/src/kernel/ring/zring.h
givaro-4.2.0/src/kernel/system/givbasictype.C
givaro-4.2.0/src/kernel/system/givbasictype.h
givaro-4.2.0/src/kernel/system/givcaster.h
givaro-4.2.0/src/kernel/system/givconfig.h
givaro-4.2.0/src/kernel/system/giverror.C
givaro-4.2.0/src/kernel/system/giverror.h
givaro-4.2.0/src/kernel/system/givgenarith.h
givaro-4.2.0/src/kernel/system/givinit.C
givaro-4.2.0/src/kernel/system/givinit.h
givaro-4.2.0/src/kernel/system/givmodule.C
givaro-4.2.0/src/kernel/system/givmodule.h
givaro-4.2.0/src/kernel/system/givomptimer.h
givaro-4.2.0/src/kernel/system/givperf.h
givaro-4.2.0/src/kernel/system/givpower.h
givaro-4.2.0/src/kernel/system/givprint.h
givaro-4.2.0/src/kernel/system/givranditer.h
givaro-4.2.0/src/kernel/system/givrandom.h
givaro-4.2.0/src/kernel/system/givtimer.C
givaro-4.2.0/src/kernel/system/givtimer.h
givaro-4.2.0/src/kernel/system/givtypestring.h
givaro-4.2.0/src/kernel/system/Makefile.am
givaro-4.2.0/src/kernel/system/Makefile.in
givaro-4.2.0/src/kernel/system/system.doxy
givaro-4.2.0/src/kernel/system/udl.h
givaro-4.2.0/src/library/Makefile.am
givaro-4.2.0/src/library/Makefile.in
givaro-4.2.0/src/library/matrix/givmatdense.h
givaro-4.2.0/src/library/matrix/givmatdenseops.inl
givaro-4.2.0/src/library/matrix/givmatrix.h
givaro-4.2.0/src/library/matrix/givmatsparse.h
givaro-4.2.0/src/library/matrix/givmatsparseops.inl
givaro-4.2.0/src/library/matrix/givmatstorage.h
givaro-4.2.0/src/library/matrix/givmatstoragedense.h
givaro-4.2.0/src/library/matrix/givmatstoragesparse.h
givaro-4.2.0/src/library/matrix/Makefile.am
givaro-4.2.0/src/library/matrix/Makefile.in
givaro-4.2.0/src/library/poly1/givdegree.C
givaro-4.2.0/src/library/poly1/givdegree.h
givaro-4.2.0/src/library/poly1/givindeter.C
givaro-4.2.0/src/library/poly1/givindeter.h
givaro-4.2.0/src/library/poly1/givinterp.h
givaro-4.2.0/src/library/poly1/givinterpgeom-multip.h
givaro-4.2.0/src/library/poly1/givinterpgeom.h
givaro-4.2.0/src/library/poly1/givpoly1.h
givaro-4.2.0/src/library/poly1/givpoly1addsub.inl
givaro-4.2.0/src/library/poly1/givpoly1axpy.inl
givaro-4.2.0/src/library/poly1/givpoly1crt.h
givaro-4.2.0/src/library/poly1/givpoly1crtconvert.inl
givaro-4.2.0/src/library/poly1/givpoly1crtcstor.inl
givaro-4.2.0/src/library/poly1/givpoly1cstor.inl
givaro-4.2.0/src/library/poly1/givpoly1cyclo.inl
givaro-4.2.0/src/library/poly1/givpoly1dense.h
givaro-4.2.0/src/library/poly1/givpoly1denseops.inl
givaro-4.2.0/src/library/poly1/givpoly1factor.h
givaro-4.2.0/src/library/poly1/givpoly1factor.inl
givaro-4.2.0/src/library/poly1/givpoly1gcd.inl
givaro-4.2.0/src/library/poly1/givpoly1io.inl
givaro-4.2.0/src/library/poly1/givpoly1kara.inl
givaro-4.2.0/src/library/poly1/givpoly1misc.inl
givaro-4.2.0/src/library/poly1/givpoly1muldiv.inl
givaro-4.2.0/src/library/poly1/givpoly1padic.h
givaro-4.2.0/src/library/poly1/givpoly1proot.inl
givaro-4.2.0/src/library/poly1/givpoly1ratrecon.inl
givaro-4.2.0/src/library/poly1/givpoly1sqrfree.inl
givaro-4.2.0/src/library/poly1/Makefile.am
givaro-4.2.0/src/library/poly1/Makefile.in
givaro-4.2.0/src/library/tools/givarithmetics.h
givaro-4.2.0/src/library/tools/givcategory.h
givaro-4.2.0/src/library/tools/givfixedtrunc.h
givaro-4.2.0/src/library/tools/givfractiondomain.h
givaro-4.2.0/src/library/tools/givhighorder.h
givaro-4.2.0/src/library/tools/giviterator.h
givaro-4.2.0/src/library/tools/givops.C
givaro-4.2.0/src/library/tools/givops.h
givaro-4.2.0/src/library/tools/givquotientdomain.h
givaro-4.2.0/src/library/tools/givtruncdomain.h
givaro-4.2.0/src/library/tools/givtruncdomain.inl
givaro-4.2.0/src/library/tools/Makefile.am
givaro-4.2.0/src/library/tools/Makefile.in
givaro-4.2.0/src/library/vector/givstorage.h
givaro-4.2.0/src/library/vector/givstoragedense.h
givaro-4.2.0/src/library/vector/givstoragesparse.h
givaro-4.2.0/src/library/vector/givvectdenseops.inl
givaro-4.2.0/src/library/vector/givvectdensespe.inl
givaro-4.2.0/src/library/vector/givvector.h
givaro-4.2.0/src/library/vector/givvectordense.h
givaro-4.2.0/src/library/vector/givvectordense.inl
givaro-4.2.0/src/library/vector/givvectorsparse.h
givaro-4.2.0/src/library/vector/givvectorsparse.inl
givaro-4.2.0/src/library/vector/givvectsparseops.inl
givaro-4.2.0/src/library/vector/Makefile.am
givaro-4.2.0/src/library/vector/Makefile.in
givaro-4.2.0/src/Makefile.am
givaro-4.2.0/src/Makefile.in
givaro-4.2.0/tests/Makefile.am
givaro-4.2.0/tests/Makefile.in
givaro-4.2.0/tests/test-brillhart.C
givaro-4.2.0/tests/test-conversion.C
givaro-4.2.0/tests/test-crt.C
givaro-4.2.0/tests/test-ffarith.C
givaro-4.2.0/tests/test-fieldarith.h
givaro-4.2.0/tests/test-geom.C
givaro-4.2.0/tests/test-ifactor.C
givaro-4.2.0/tests/test-integer.C
givaro-4.2.0/tests/test-matrix.C
givaro-4.2.0/tests/test-mod.C
givaro-4.2.0/tests/test-modsqroot.C
givaro-4.2.0/tests/test-modularmulprecomp.C
givaro-4.2.0/tests/test-poly.C
givaro-4.2.0/tests/test-qfield.C
givaro-4.2.0/tests/test-random.C
givaro-4.2.0/tests/test-rational-class.C
givaro-4.2.0/tests/test-ratrecon.C
givaro-4.2.0/tests/test-recint_cast.C
givaro-4.2.0/tests/test-recint_convert.C
givaro-4.2.0/tests/test-recint_exp.C
givaro-4.2.0/tests/test-recint_extra.C
givaro-4.2.0/tests/test-recint_rand.C
givaro-4.2.0/tests/test-regression.C
givaro-4.2.0/tests/test-ringarith.C
givaro-4.2.0/tests/test-rint_arith.C
givaro-4.2.0/tests/test-rmint_arith.C
givaro-4.2.0/tests/test-rmint_comparisons.C
givaro-4.2.0/tests/test-rmint_complex.C
givaro-4.2.0/tests/test-rmint_constructors.C
givaro-4.2.0/tests/test-rmint_inv_div.C
givaro-4.2.0/tests/test-rmint_montgomery.C
givaro-4.2.0/tests/test-rmint_neg.C
givaro-4.2.0/tests/test-ruint_arazi.C
givaro-4.2.0/tests/test-ruint_arith.C
givaro-4.2.0/tests/test-ruint_comparisons.C
givaro-4.2.0/tests/test-ruint_complex.C
givaro-4.2.0/tests/test-ruint_constructors.C
givaro-4.2.0/tests/test-ruint_fiddling.C
givaro-4.2.0/tests/test-ruint_lmul.C
givaro-4.2.0/tests/test-ruint_operators.C
givaro-4.2.0/tests/test-ruint_shift.C
givaro-4.2.0/tests/test-ruint_square.C
givaro-4.2.0/tests/test-trunc.C
sike/reference.zip
sike/weierstrass.zip
